/* XL */
@media (max-width:1399px) {
   .container{
        max-width:1140px;
   } 
}
/* LG */
@media (max-width:1199px) {
    .container{
        max-width:960px;
   } 
}
/* MD */
@media (max-width:991px) {
    .container{
        max-width:720px;
   } 
   .w-md-1{
    width: 100%;
   }
   .w-md-2{
    width: 50%;
   }
   /* Services  */
   .services-item{
    margin-bottom: 20px;
   }
   /* About  */
   .about-content{
    margin-left: 0;
    margin-top: 20px;
   }
   .facility-services{
    margin-top: 30px;
   }
   .form-title ul li{
    margin-bottom: 20px;
   }
   .checkout-form{
    border-right: 0;
    padding-right: 0;
   }
   .product-total{
    margin-left: 0;
    margin-top: 20px;
   }
}
/* SM */
@media (max-width:767px) {
    .container{
        max-width:540px;
   } 
   .toggle{
    display: flex;
   }
   nav ul{
    position: absolute;
    top: 100%;
    left: 0;
    flex-direction: column;
    background-color: white;
    width: 100%;
   }
   nav ul li{
    padding: 5px 10px;
   }
   header .header-menu{
    padding: 0 0;
   }
}
/* XS */
@media (max-width:575px) {
    .w-xs-1{
        width: 100%;
    }
    .gadgets-item{
        margin-bottom: 20px;
    }
    .footer-payment , .footer-social , .footer-list , .footer-news{
        margin-bottom: 20px;
    }
}
